.bg-img {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-position: right;
  background-size: cover;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.shadow-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000063;
}
.center-box {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 10%;
  transform: translateX(-50%);
  left: 50%;
}
.center-box h1,
.center-box h3 {
  margin: 0;
}
.center-box h1 {
  font-family: 'Ruthie', cursive;
  color: #a2bbce;
  text-shadow: 1px 1px 0px #424040;
  font-size: 4.8em;
  font-weight: normal;
}
  .center-box h1 span {
      font-size: 0.5em;
  }
.center-box h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #a2bbce;
  text-shadow: 1px 1px 0px #424040;
}
  .center-box h3:hover{
      color: #a2bbce;
      transition: color 0.5s ease-out;
  }

