body {
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
}
#root, .wrapper, section {
  min-height: 100%;
  padding-bottom: 30px;
}

section {
  position: relative;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
button:focus {outline:0;}
.menu-button {
  position: fixed;
  z-index: 10;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  background:#03071db3;
  color: #cac8c8;
  padding: 7px 12px;
  font-size: 14px;
  top: 20px;
  left: 20px;
}
.menu-button:hover {
  background: #03071d;
  color: #fff;
}
.hide { display: none; }

.img-cover {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 50px;
  line-height: 50px;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Ruthie', cursive;
  font-weight: normal;
  margin: 0;
}
.content-page {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 50px 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 500;
}
ul { padding-left: 0; }
li {
  list-style: none;
  margin-bottom: 15px;
}
p { margin-bottom: 30px; }

a { color: #2082cc; }
.link {
  color: #2082cc;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}
a:hover, .link:hover { text-decoration: none; }
.container {
  display: flex;
  flex-direction: row;
}
.image-left {
  width: 50%;
  .image-fix {
    position: fixed;
    height: 100%;
    width: 50%;
    background-size: cover;
  }
}