body, html {

}
body {
  padding:0;
  margin:0;
  font-family: 'Bitter', serif;

}
#root, .wrapper, section {
  min-height: 100%;
  padding-bottom: 30px;
}

section {
  position: relative;
  -moz-transition:all 200ms ease-in;
  -webkit-transition:all 200ms ease-in;
  -o-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
}
button:focus {outline:0;}
.menu-button {
  position: fixed;
  z-index: 10;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  background:#03071db3;
  color: #cac8c8;
  padding: 5px 12px;
  top: 20px;
  left: 20px;
}
.menu-button:hover {
  background: #03071d;
  color: #fff;
}
.hide { display: none; }

.img-cover {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 4.5em;
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Ruthie', cursive;
}
.content-page {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
}

h2 {
  text-align: center
}

li {
  list-style: none;
  margin-bottom: 15px;
}
a { color: #a2bbce;}
p { margin-bottom: 30px; }